{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "ecmaVersion": 2018
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "env": {
    "browser": true
  },
  "overrides": [
    {
      "files": ["test/**/*.spec.ts"],
      "env": {
        "mocha": true
      }
    }
  ],
  "rules": {
    "prettier/prettier": "error",
    "no-console": "error",
    "@typescript-eslint/explicit-function-return-type": "off"
  }
}
